*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
}
body::-webkit-scrollbar{
    display: none;
}
.img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1;
}
header nav{
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: black;
    color:  white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header nav a{
    text-decoration: none;
    color: white;
}
header nav a:hover ,header nav p:hover{
text-shadow: white 0 0 3px;
}
header nav .main--logo-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.main--logo{
    background-image: url(../assets/images/mainlogo.png);
    display: inline-block;
    width: 50px;
    height: 50px;
}
header nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    align-items: center;
}
header nav .cart_status{
    width: auto;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    display: inline-block;
    border-radius: 6px;
}
/* estilos del main */
main{
    width: 100%;
    height: auto;
    background-color: #edede9;
}
/* estilo del section main--img-container */
main .main--img-container{
    width: 100%;
    min-width: 320px;
    max-width: 1400px;
    position: relative;
    margin: 0 auto;
}
main .main--img-container .image_intro{
    width: 100%;
    height: 300px;
}
/* estilo del h1 de la llamada a la acción */
main .main--img-container h1{
    position: absolute;
    bottom: 60px;
    left: 20px;
    width: 280px;
    font-size: 2rem;
    font-weight: 800;
    color:#ffffff ;
    text-shadow: black -1px -1px  2px, black 1px 1px 5px;
}
main .main--img-container button{
    position: absolute;
    bottom: 40px;
    right: 20px;
    width: 120px;
    border-style: none;
    border: black 2px groove ;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 800;
    padding: 3px;
    background-color: rgb(246, 216, 43);
    box-shadow: black 1px 1px 5px;
}
main .main--img-container button:active{
    background-color:rgb(227, 193, 1) ;
}
/* sección contenedora de los productos */
main .main--products-container {
    display: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding:15px 0 15px 0;
}
main .main--products-container h2{
    font-size: 1.4rem;
    text-align: center;
    font-weight: 800;
}
main .main--products-container .products--cards-container{
    width: 90%;
    min-width: 288px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap:2px;
    position: relative;

    justify-content: center;
}

/* cards de los productos */
main .main--products-container .products--cards-container .product--card{
    width: 288px;
    height: auto;
    padding: 5px;
    position: relative;
    border: rgba(0, 0, 0, 0.572) 1px solid;
    border-radius: 10px;
    text-align: center;
}
main .main--products-container .products--cards-container .product--card img{
    width: 130px;
    height: 90px;
    position: relative;
    margin: 0 auto;
    border-radius: 15px;
    border: gray 3px groove;
}
main .main--products-container .products--cards-container .product--card h3{
    font-size: 1.2rem;
    padding: 10px 0 10px 0;
}
main .main--products-container .products--cards-container .product--card p{
    font-size: 1.2rem;
}
main .main--products-container .products--cards-container .product--card summary{
    font-size: .8rem;
    font-weight: 900;
}
/* footer  */
footer{
    width: 100%;
    height: auto;
    background-color: #ffba08 ;
    padding: 30px 0 80px;
    font-size: 1rem;
}
footer section{
    width: 90%;
    min-width: 280px;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
}
